<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReadData_BPMRD.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=T1SDB1D1.SNT.BST.BLS.COM;PASSWORD=HideSDAFd1;PERSIST SECURITY INFO=True;USER ID=SDAF"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>